.background {
    background-image: url(https://s3.amazonaws.com/nomnom.blazepizza.com/global/images/2022+SEPT+Assets/3461_Sept_Promo_686x544_redvine.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    background-repeat: no-repeat;
}
body {
    height: 100vh;
}
ol {
    padding: 0;
    margin-left: 40%;
    width: 20%;
    font-weight: bold;
}
li {
    text-align: left;
    padding: 2px;
}
h1 {
    text-align: center;
    width: 100%;
    padding-top: 9%;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:underline;
    color: rgb(67, 59, 59);
}
section {
    width: 100%;
    text-align: center;
    margin-top:1%;
    margin-left:2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(67, 59, 59);
}
